port=53

domain-needed
bogus-priv

strict-order
domain=openshift.gbm.net
address=/apps.openshift.gbm.net/192.168.124.21
addn-hosts=/etc/dnsmasq.openshift.addnhosts
conf-dir=/etc/dnsmasq.d,.rpmnew,.rpmsave,.rpmorig
